# SDS – Xcode

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Swift Package Manager
Packages/
Package.pins
Package.resolved
.swiftpm
.build/

## CocoaPods
Pods/

## fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

## Code Injection
iOSInjectionProject/

## Miscellaneous
.DS_Store
DerivedData/
.netrc
