name: test
on:
- pull_request
jobs:
  unit-tests:
     uses: vapor/ci/.github/workflows/run-unit-tests.yml@reusable-workflows
     with:
       with_coverage: false
       with_tsan: true
  leaf:
    container: 
      image: swift:5.6-focal
    runs-on: ubuntu-latest
    steps:
    - run: git clone -b main https://github.com/vapor/leaf.git
      working-directory: ./
    - run: swift package edit leaf-kit --revision ${{ github.sha }}
      working-directory: ./leaf
    - run: swift test --sanitize=thread
      env:
          SWIFT_DETERMINISTIC_HASHING: 1
      working-directory: ./leaf
  test-exports:
    name: Test exports
    runs-on: ubuntu-latest
    steps:
      - name: Check out Vapor
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Build
        run: swift build -Xswiftc -DBUILDING_DOCC
